.main__wrapper {
  position: relative;
  padding: var(--padding-main);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  /* border: 1px solid lightgrey; */
  width: 500px;
  height: 600px;
}
/* ======= SELECT ======= */
.select__wrapper {
  position: relative;
  width: 100%;
  border: 1px solid lightblue;
  border-radius: 4px;
}
.select__wrapper::before {
  position: absolute;
  content: '🔍';
  font-size: 1.5em;
  top: 5px;
}

.select {
  width: 90%;
  font-size: 1.5em;
  margin-left: 30px;
  padding: 4px;
  border: none;
}
.select:focus {
  outline: none;
}

/* ======== OPTIONS ======== */

.options__wrapper {
  position: absolute;
  top: 47px;
  border: 1px solid lightblue;
  border-radius: 4px;
  width: calc(100% - (var(--padding-main) * 2));
  min-height: 20%;
  max-height: 80%;
  /* hidden by default */
  visibility: hidden;
  pointer-events: none;
  z-index: 200;
  background-color: white;
}

.options--open {
  visibility: visible;
  pointer-events: all;
}

.option {
  padding-left: 5px;
}
.option:hover {
  background-color: #4dd0e130;
}
.option:focus {
  background-color: #4dd0e130;
}
.option--highlight {
  background-color: #4dd0e130;
}

.misc-input {
  margin-top: 20px;
  width: 90%;
}
